.wrapper{
  display: flex;
}
/* サイド */
.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}
/* サイドヘッダー */
.side-header{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;                      /* paddingは局所的に与える */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-name a {                          /* a要素の文字をいじるので */
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;                /* リンクにつくアンダーバーをなくす */
}
.room-create-btn{
  font-size: 10px;
}
.room-create-btn a {                    /* 文字に対するCSSはこっち */
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;                /* リンクにつくアンダーバーをなくす */
}

/* ルーム一覧 */
.side-rooms{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}
.room {                                  /* 冗長な気がする... */
  padding: 20px 0 40px;
}
.room-name a {
  text-decoration: none;
  color: white;
  padding: 20px 0 40px;
}

/* メイン */
.main-bar{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}
/* メインヘッダー */
.main-header{
  height: 100px;
  /* background-color: #ffffff; */
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.current-room{
  font-size: 24px;
  color: #333;
  margin-top: 36px;                     /* a要素に入っている文字の上端からmargin */
}
.room-delete-btn{
  margin-top: 40px;                     /* a要素に入っている文字の上端からmargin */
}
.room-delete-btn a{
  text-decoration: none;
  color: darkred;
  padding: 20px;
  border: 1px solid darkred;
}

/* チャット画面 */
.main-messages{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}
.message{
  padding: 10px 0;
  /* border: 1px solid red; */
}
.top-message{
  display: flex;
}
.sender{
  font-size: 16px;
  color: #434a54;
}
.time-stamp{
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}
.bottom-message{
  margin-top: 10px;
}
.text-photo{
  font-size: 14px;
  color: #434a54;
  margin-bottom: 40px;
}
/* フォーム */
.main-form{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
  box-sizing: border-box;
}
.form-input{
  background-color: white;
  display: flex;
  width: 100%;                      /* 箱が伸びるぞ！ 「幅いっぱい」を表現するなら、vh,vw の他に % もあるよ！*/
}
.form-message{
  border: none;
  height: 50px; 
  padding-left: 10px; 
  width: 100%;                      /* 箱が伸びるぞ！*/
}
.form-submit{
  border: none;
  height: 50px;
  font-size: 16px;
  color: white;
  background-color: #38aef0;
  padding: 0 20px;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.hidden {
  display: none;
}

